<h2>Page: {{name}}</h2>

<pre>Response from server: /users</pre>
<pre>{{ users?.name }}</pre>
<pre>{{ users?.last }}</pre>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{currentLocale | translate}}
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="javascript:;" (click)="onChangeLocaleClick('fr')"><i class="fa fa-fw fa-language"></i> {{ 'fr' | translate}}</a>
        </li>

        <li>
            <a class="dropdown-item" href="javascript:;" (click)="onChangeLocaleClick('en')"><i class="fa fa-fw fa-language"></i> {{ 'en' | translate}}</a>
        </li>
    </ul>
</div>

